@import "styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f4f8;
  color: #1f2937;
  font-weight: 400;
}

@layer components {
  .app-x-padding {
    @apply px-4 sm:px-8 md:px-12;
  }
  .app-max-width {
    @apply max-w-7xl mx-auto;
  }
}

@layer utilities {
  @variants responsive {
    .bottom-10-per {
      bottom: 10%;
    }
    .left-10-per {
      left: 10%;
    }
    .right-10-per {
      right: 10%;
    }
  }
}

.toggle-checkbox:checked {
  @apply: right-0 border-gray500;
  right: 0;
  border-color: #282828;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-gray500;
  background-color: #282828;
}
